<ng-template [ngIf]="personPage != null">

    <!--div id="top" class="row">
        <div class="col-sm-3">
            <h2>Persons</h2>
        </div>
        <div class="col-sm-6">

            <div class="input-group h2">
                <input name="data[search]" class="form-control" id="search" type="text" placeholder="Search">
				<span class="input-group-btn">
					<button class="btn btn-primary" type="submit">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
				</span>
            </div>

        </div>
        <div class="col-sm-3">
            <a href="add.html" class="btn btn-primary pull-right h2">New Item</a>
        </div>
    </div> -->

    <hr/>
    <div id="list" class="row">

        <div class="table-responsive col-md-12">
            <table class="table table-striped" cellspacing="0" cellpadding="0">
                <thead>
                <tr>
                    <th><app-table-sort [table]="self" [page]="personPage" [label]="'First Name'" [property]="'firstname'" ></app-table-sort></th>
                    <th><app-table-sort [table]="self" [page]="personPage" [label]="'Last Name'" [property]="'lastname'" ></app-table-sort></th>
                    <th><app-table-sort [table]="self" [page]="personPage" [label]="'Age'" [property]="'age'" ></app-table-sort></th>
                    <th class="actions">Actions</th>
                </tr>
                </thead>
                <tbody>

                <tr *ngFor="let person of personPage.content">
                    <td>{{person.firstname}}</td>
                    <td>{{person.lastname}}</td>
                    <td>{{person.age}}</td>
                    <td class="actions">
                        <a class="btn btn-success btn-xs" (click)="goToDetails(person)">Details</a>
                        <!--a class="btn btn-warning btn-xs" href="edit.html">Edit</a-->
                        <a class="btn btn-danger btn-xs" (click)="currentPerson=person" data-toggle="modal" data-target="#delete-modal">Delete</a>
                    </td>
                </tr>

                </tbody>
            </table>
        </div>

    </div> <!-- /#list -->

    <app-table-pagination [table]="self" [page]="personPage"></app-table-pagination>

    <!-- Modal -->
    <div class="modal fade" id="delete-modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Fechar"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="modalLabel">Delete person</h4>
                </div>
                <div class="modal-body">
                    Do you want to remove this item ?
                </div>
                <div class="modal-footer">
                    <button type="button" (click)="delete(currentPerson)" class="btn btn-primary" data-dismiss="modal">Yes</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" data-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>

</ng-template>
